.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
}

li a {
  display: block;
  color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color:white;
  background-color: #111;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-corps {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.sub-nav {
  display: none; /* Masque la sous-liste */
  position: absolute; /* Evite que la dimension du conteneur ne change quand la sous-liste est affichée */
  left: 0; /* FIX IE7 : pour que le sous-menu s’aligne avec son conteneur */
  top: 2em; /* FIX IE7 : pour que le sous-menu s’aligne avec son conteneur, on le positionne explicitement en bas du conteneur */
  white-space: nowrap; /* Pour que le texte ne revienne pas à la ligne */
  background: white; /* FIX IE7 : évite que la sous-liste ne disparaisse au moment où le curseur arrive au-dessus */
  margin-top: 20px; /* Pour que le sous-menu recouvre son parent, facilitant le passage de la souris de l’un à l’autre */
}
.nav-item:hover .sub-nav {
  display: block; /* Affiche cette sous-liste au survol de son conteneur */
}

.nav-item {
  float: left; /* Pour que les liens s’affichent horizontalement */
  position: relative; /* Crée un contexte de positionnement pour les sous-listes */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
